* {
  margin: 0;
}

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  font-family: Garamond;
}
p,
li,
label {
  font-size: 1.3em;
}
h3 {
  font-size: 2em;
}

.hero {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background: url(img/what-the-hex-dark.png) #006c93 center / cover;
  background-attachment: fixed;
  margin: 0 auto;
  width: 100%;

  color: white;
}

.hero-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.hero-row {
  display: flex;
}

.experience {
  background: url(img/dawn.jpg) #0984e3 center / cover;
  background-color: #0984e3;
  background-blend-mode: screen;
  background-attachment: fixed;
}

.skills {
  background: url(img/blank-blue.jpg) #0984e3 center / cover;
  background-color: #006266;
  background-blend-mode: screen;
  background-attachment: fixed;
}
.contact {
  padding: 3rem 1rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.links {
  display: flex;
  justify-content: space-around;
}
nav {
  display: flex;

  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  justify-content: flex-end;
  z-index: 1;
}

nav a {
  padding: 1em 1em 0 0;
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}
.active {
  border-bottom: 1px solid;
  border-bottom-color: #47a5f1;
  color: rgb(84, 84, 168);
}
nav a:hover {
  border-bottom-color: #464545;
  border-bottom: 2px solid;
}

.row {
  display: flex;
  margin-bottom: 1em;
}

.col {
  flex: 1;
}

section {
  padding: 3rem 1rem;
}

@media screen and (max-width: 429px) {
  .links a {
    display: none;
  }
  ul {
    margin-bottom: -0.2em;
  }

  .row {
    flex-direction: column;
  }
}

.title {
  font-size: 8vw;
}

.subtitle {
  font-size: 3vw;
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  margin-bottom: 2em;
}

h2 {
  padding-bottom: 0.5em;
}

.date {
  display: flex;
  justify-content: center;
}

.cover {
  background-color: rgba(226, 220, 220, 0.4);
  padding: 1em;
  border-radius: 0.7em;
  margin: 1em;
}

.card {
  display: block;
  flex-direction: column;
  padding: 1.2em;
  max-width: 100%;
  border: 1px solid gray;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border-radius: 1em;
  background-color: rgba(226, 220, 220, 0.4);
}

.card input,
textarea {
  margin-bottom: 0.7em;
  width: 100%;
  padding: 0.5em 0 0.5em 0;
  border-radius: 0.3em;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;

  font-weight: bold;
  font-size: 1.1em;
  color: #4a4a4a;
  font-family: "Times New Roman", Times, serif;
}
.card input {
  /* border: 1px solid rgb(170, 167, 167); */
  height: 1.5em;

  border: none;
  text-align: left;
  text-indent: 1em;
}

input:focus {
  /* outline-color: #00b894; */
  outline: 2px solid #00b894;
}
input:invalid {
  outline-color: rgb(206, 15, 15);
}

textarea:focus {
  outline: 2px solid #00b894;
}
textarea:invalid {
  outline-color: rgb(206, 15, 15);
}

.card label {
  font-weight: bolder;
}
img {
  border-radius: 2.9em;
}
.social {
  display: flex;

  padding: 2em;
}
.social span {
  margin-left: 2em;
}

.social svg {
  transition: 0.4s;
}
.social svg:hover {
  background: #47a5f1;
  transform: scale(1.1, 1.1);
}
.box svg {
  transition: 0.4s;
}
.box svg:hover {
  transform: scale(1.5, 1.5);
}

.details {
  display: flex;

  justify-content: center;
}

.address p {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

#button {
  width: 35%;
  padding-right: 1.3em;
  border: none;
  background: #00b894;
  color: white;
  height: 2em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  transition: 0.4s;
}
#button:hover {
  background-color: white;
  color: #4a4a4a;

  border: 1px solid#00b894;
  cursor: pointer;
}

.intro {
  display: flex;
  justify-content: center;
}
